body {
    background-color: #d5e8f6;
    font-family: Verdana, sans-serif;
}

#output {
    width: 600px;
    height: 200px;
    border: thin solid blue;
    padding: 10px;
}

.button {
    color: white;
    background-color: cadetblue;
    border: none;
    outline: none;
    padding: 15px 32px;
    font-size: 1.5em;
    border-radius: 10px;
    transition-duration: 0.4s;
    margin-top: 20px;
}

.button:hover {
    color: white;
    background-color: midnightblue;
}