body {
  background-color: #000000;
}

#gameBoard {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 120px 120px;
  justify-content: center;
  width: 600px;
  height: 600px;
  
  margin-left: auto;
  margin-right: auto;
}

#gameBoard div {
  background-color: #00EE00;
  background-repeat: no-repeat;
  background-size: cover;
}

.rider {
  background-image: url("imgs/rider.png")
}

.tree {
  background-image: url("imgs/tree.png")
}
.rock {
  background-image: url("imgs/rock.png")
}
.water {
  background-image: url("imgs/water.png")
}

.flag {
  background-image: url("imgs/flag.png")
}

.fenceup {
  background-image: url("imgs/fenceup.png")
}
.fenceside {
  background-image: url("imgs/fenceside.png")
}

.horseup {
  background-image: url("imgs/horseu.png")
}
.horseleft {
  background-image: url("imgs/horsel.png")
}
.horseright {
  background-image: url("imgs/horser.png")
}
.horsedown {
  background-image: url("imgs/horsed.png")
}

.horserideup {
  background-image: url("imgs/hru.png")
}
.horserideleft {
  background-image: url("imgs/hrl.png")
}
.horserideright {
  background-image: url("imgs/hrr.png")
}
.horseridedown {
  background-image: url("imgs/hrd.png")
}

.jumpup {
  background-image: url("imgs/jumpu.png")
}
.jumpleft {
  background-image: url("imgs/jumpl.png")
}
.jumpright {
  background-image: url("imgs/jumpr.png")
}
.jumpdown {
  background-image: url("imgs/jumpd.png")
}

.enemyup {
  background-image: url("imgs/enemyu.png")
}
.enemyleft {
  background-image: url("imgs/enemyl.png")
}
.enemyright {
  background-image: url("imgs/enemyr.png")
}
.enemydown {
  background-image: url("imgs/enemyd.png")
}

.bridge {
  background-color: #800020 !important;
}